<h1>Destinations you've visited</h1>


<table>
  <tr class="darkrow">
    <th>Country name:</th>
    <th>Cities in country:</th>
    <th></th>
    <th></th>
  </tr>

<% for country in @countries %>
<% if country.has_visited == "t" %>
  <tr class="mediumrow">
    <td><a href="/countries/<%=country.id%>"><%= country.name %></a></td>
    <td></td>
    <td><a href="countries/<%=country.id%>/edit">Edit</a></td>
    <td><form action="/countries/<%=country.id%>/delete" method="post">
      <input type="submit" value="Delete Country"></td>
  </tr>

  <% for city in @cities %>
    <% if city.country_id == country.id && city.has_visited == "t" %>
    <tr class="lightrow">
      <td></td>
      <td>-<a href="cities/<%=city.id%>"><%= city.name %></a></td>
      <td><a href="cities/<%=city.id%>/edit">Edit</a></td>
      <td><form action="cities/<%=city.id%>/delete" method="post">
            <input type="submit" value="Delete City">
          </form></td>
    </tr>
    <% end %>
  <% end %>
<% end %>
<% end %>
</table>
