<h1>All Destinations</h1>

<a href="cities/new">Add City</a>

<ul>
 <% for city in @cities %>
 <li>
   <a href="cities/<%=city.id%>"><%=city.name%></a>
   <%=city.has_visited%>
   <a href="cities/<%=city.id%>/edit">Edit</a>
   <form action="cities/<%=city.id%>/delete" method="post">
     <input type="submit" value="Delete City">
   </form>
 </li>
 <% end %>
</ul>
