<h1>All Destinations</h1>

<a href="cities/new">Add New City</a>

<br><br>

<table>
  <tr class="darkrow">
    <th>City:</th>
    <th>Visited?</th>
    <th></th>
    <th></th>
  </tr>

  <% for city in @cities %>
  <tr class="lightrow">
    <td><a href="cities/<%=city.id%>"><%=city.name%></a></td>
    <td><% if city.has_visited == "t" %>
          <%= "yes" %>
        <% else %>
          <%= "no" %>
        <% end %>
      </td>
    <td><a href="cities/<%=city.id%>/edit">Edit</a></td>
    <td><form action="cities/<%=city.id%>/delete" method="post">
          <input type="submit" value="Delete City">
        </form></td>
  </tr>
  <% end %>
</table>

<br><br>

<a href="/your_bucket_list">Back to your Bucket List</a>
