<h1>All Countries</h1>

<a href="/countries/new">Add New Country</a>

<br><br>

<table>
  <tr class="darkrow">
    <th>Country:</th>
    <th>Visited?</th>
    <th></th>
    <th></th>
  </tr>

  <% for country in @countries %>
  <tr class="mediumrow">
    <td><a href="countries/<%=country.id%>"><%= country.name %></a></td>
    <td><% if country.has_visited == "t" %>
          <%= "yes" %>
        <% else %>
          <%= "no" %>
        <% end %>
      </td>
    <td><a href="countries/<%=country.id%>/edit">Edit</a></td>
    <td><form action="/countries/<%=country.id%>/delete" method="post">
      <input type="submit" value="Delete Country">
    </form>
    </td>
  </tr>
  <% end %>

</table>

<br><br>

<a href="/your_bucket_list">Back to your Bucket List</a>
