<h1> <%=@country.name%> </h1>
<p><% if @country.has_visited == "t" %>
      <%= "Already visited!" %>
    <% else %>
      <%= "Not visited yet!" %>
    <% end %></p>


<h3>Cities in <%= @country.name %>:</h3>
<ul>
  <% for city in @cities %>
    <% if city.country_id == @country.id %>
      <li><%= city.name %></li>
    <% end %>
  <% end %>
</ul>

<a href="/your_bucket_list">Back to your Bucket List</a>
