<h1> <%=@country.name%> </h1>
<p><% if @country.has_visited == "t" %>
      <%= "Already visited!" %>
    <% else %>
      <%= "Not visited yet!" %>
    <% end %></p>

<h3>Cities in <%= @country.name %>:</h3>
<ol>
  <% for city in @cities %>
    <% if city.country_id == @country.id %>
      <li class="city-li">
        <%= city.name %>
        <%= city.has_visited %>
        <a href="../cities/<%=city.id%>/edit">Edit</a>
      </li><br>
    <% end %>
  <% end %>
</ol>

<a href="/countries">Back to all countries</a>
